geox-solution-assignment-P1/windows/Debug/
geox-solution-assignment-P1/system/properties/moc/
geox-solution-assignment-P1/viewers/widgets/moc/
geox-solution-assignment-P1/system/gui/moc/
geox-solution-assignment-P1/geoX/moc/
geox-solution-assignment-P1/images/moc/
geox-solution-assignment-P1/windows/GeoX.sdf
geox-solution-assignment-P1/geoX/ui_GeoXMainWindowDesigner.h
geox-solution-assignment-P1/system/gui/ui_ObjectBrowserWidgetDesigner.h
geox-solution-assignment-P1/system/gui/ui_ObjectCreationDialogDesigner.h
geox-solution-assignment-P1/viewers/widgets/ui_LogoViewerDesigner.h
geox-solution-assignment-P1/windows/GeoX.opensdf
